<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="utf-8">
    <title>Posts</title>
</head>

<body>

<a th:href="@{/news}">News</a>
<a th:href="@{/posts}">Posts</a>
<a th:href="@{/profile}">Profile</a>
<a th:href="@{/about}">About</a>

<br>
<a th:href="@{/new_post}">+add post</a>
<br>

<p>Posts:  </p>
<div th:each = "posts : ${postlist}">
    <a th:href="@{/posts/{id}(id=${posts.getId()})}" th:text="${posts.getTitle()} + ' ' + ${posts.displatenDate()}">name</a>
    <h5 th:text="${posts.getTextPost}">text post</h5>
</div>




</body>

</html>